<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About us</title>
    <link rel="stylesheet" href="css/about.css">
     <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- navbar section -->
      <div class="wrap">
        <nav>
          <div class="logo"> Spinasse </div>
          <ul>
            <li> <a  href="/">Home</a> </li>
            <li> <a href="/menu">Menu</a> </li>
             <li> <a href="/gallery">Gallery</a> </li>
              <li> <a class="active" href="/About">About us</a> </li>
               <li> <a href="/contact">Contact</a> </li>
          </ul>


      </div>
     <!--/navbar section  -->
    <div class="main">


    <h1 style="text-align:center; color:#fff; font-family:'Pacifico'; font-size: 60px;">About Us</h1>
    <hr>
    <div class="about">
      <h2>About Us</h2> <p class="first">We're Awesome</p>
      <hr>
    <img style="float:left;" src="images/about/A1.png">
    <p style="font-size:20px; color:#ed9f9d;"><strong>Since opening in August of 2008, Spinasse has garnered much acclaim for its interpretation of the traditional cuisine of the Piedmont region of Northern Italy.</strong></p>
<br>
    <p>Chef Stuart Lane and his team create simple, refined dishes grounded in authentic techniques from Piedmont, while incorporating the products of artisans and small farmers from the Pacific Northwest.</p>

  <p> We welcome you to enjoy our handmade pastas and seasonally inspired dishes and desserts, alongside a carefully curated wine list. Our dining room reflects an authentic, rustic, classicality found in Piedmontese trattorias and our small bar features a birds-eye view of our open kitchen. Wherever you sit, your enjoyment of our food and the restaurant is of primary importance to us.</p>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="Chef">
      <h2>Chef Bio</h2> <p class="second">Meet The Dream Makers</p>
      <hr>
      <img style="float:left;" src="images/about/A2.jpg">
<p style="font-size:20px; color:#ed9f9d;"> <strong>Stuart Lane leads the kitchens at Spinasse and Artusi to further the restaurant’s perspective on the food and feastings of the Piedmont region of northern Italy.</strong> </p>
<br>
<p>Following a creative writing degree from Western Washington University, Stuart enrolled at Bellingham Technical College and worked at a local Italian restaurant. He graduated with a degree in Culinary Arts and in 2004, he left for Costigliole d'Asti to attend the Italian Culinary Institute in Piemonte. He later staged at the Hotel Monte del Re in Dozza Italy outside of Bologna. Upon returning to the U.S. he worked at Cafe Juanita as a prep cook, pastaoli, and finally, Chef de Cuisine.</p>
<p>In 2010, Stuart came to Spinasse as Co-Sous Chef. In 2011, Stuart left for an Executive Chef position at Cuoco. He returned to Spinasse in 2013 and now oversees the menus at both Spinasse and casual Italian eatery and bar, Artusi.</p>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="hours">
      <h2>Opening Hours</h2> <p class="third" >let's not be lazy</p>
      <hr>
      <img style="float:left;" src="images/about/A3.jfif" >
      <p style="font-size:20px; color:#ed9f9d;"><strong>Spinasse is open seven days a week and is located on 14th St. in the Capitol Hill neighborhood of Seattle, between Pike and Pine St.

</strong></p>
<p>HOURS:
  <br>
Open daily from 4pm to 9pm
<br>
<br>
HOLIDAY CLOSURES:<br>
Memorial Day <br>
4th of July <br>
Labor Day <br>
Thanksgiving <br>
Christmas Eve <br>
Christmas Day <br>
New Year's Day <br>
</p>
</div>
<!-- footer section -->
<div class="footer">


<div class="footer-main-div">

  <div class="footer-social-icons">
    <h1>Spinasse</h1>
    <ul>
      <li> <a href="https://www.facebook.com/bhavjotkaur.pal"><i class="fa fa-facebook"></i> </a> </li>
      <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
      <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
      <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
    </ul>
  </div>
  <div class="footer-menu-one">
    <ul>
      <li><a href="/menu">Menu</a> </li>
      <li><a href="/gallery">Gallery</a> </li>
      <li><a href="/about">About</a> </li>
      <li><a href="/contact">Contact Us</a> </li>
    </ul>
  </div>
  <div class="address">
    <p>1531, 14th Avenue</p>
    <p>Seattle, WA 98122</p>
    <p>206.251.7673</p>
  </div>
</div>
<div class="footer-bottom">
  <div class="copyright">
    <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
  </div>
</div>
</div>
</div>

  </body>
</html>
