<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>American cuisine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cuisine.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body >
    <h1 style="text-align:center; color:#fff; font-family:'Pacifico'; font-size: 60px; padding:30px;">American Cuisine</h1>
  <div class="main">
    <div class="container">
      <div class="box">
      <div class="imgBox"><img src="images/american/A1.jpg"></div>
      <div class="details">
        <div class="content">
         <h2>Buffallo Chicken</h2>
         <p>These spicy wings are ideal party food for any celebration. The chicken is brined to make it extra juicy and the smoky sweetness of the sauce adds heat</p>
        </div>
      </div>
    </div>
      <div class="box">
        <div class="imgBox"><img src="images/american/A2.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>BBQ Chicken Platter</h2>
            <p>Roast or barbecue these BBQ chicken pieces then serve on a platter with onion rings, coleslaw and mac ‘n’ cheese for an all-American banquet...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/american/A3.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Pecan Pie with Maple Cream</h2>
            <p>Wow family and friends with this golden pecan pie and silky, sweet maple cream. Making the pastry is optional, but the recipe is particularly good</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/american/A4.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>S'mores Dip</h2>
            <p>A sized-up, super chocolatey twist on the classic American campfire treat. This s'mores dip will be gone before you can say 'mini marshmallow'...</p>
          </div>
       </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/american/A5.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Easy Pickled onion Rings</h2>
            <p>Feast on these lager-battered pickled onion rings as a snack, or serve as part of an American-themed spread, with BBQ chicken pieces and mac ‘n’ cheese...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/american/A6.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Cheesesteak Hotdogs</h2>
            <p>Take the humble hot dog to another level by using steak, complemented by melted cheese, fried green peppers and crispy onions. Easy to make and so good</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/american/A7.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>American Pancakes</h2>
            <p>Easy, American-style, fluffy pancakes are great for feeding a crowd at breakfast or brunch. Top with something sweet like fruit, jam or syrup, or rashers of crispy bacon.</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/american/A8.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>BBQ Pulled Pork</h2>
            <p>An American classic, the meat is slow-cooked then shredded or ‘pulled’ and layered with BBQ sauce, pickles and slaw in a soft brioche bun...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/american/A9.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Sweet Chilli Dogs</h2>
            <p>Only five ingredients are needed for these low calorie, spicy hot dogs made from pork sausages and caramelised onion</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/american/A10.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Southern-Fried Prawns </h2>
            <p>Experiment with Southern-style coating on prawns, instead of chicken. These moreish prawns have a crispy, spicy coating and taste great with a hot gumbo dip and lemon wedges</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/american/A11.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Creamed Corn</h2>
            <p>The best side dish in the States, this addictive, creamy, cheesy mix goes well with pretty much everything, but pairs particularly well with barbecue dishes</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/american/A12.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Smokey Braised Brisket</h2>
            <p>This cheap, flavourful cut of meat is perfect for the smoky flavours of American and South American barbecue, ideal comfort food for a cold winter’s night...</p>
          </div>
        </div>
      </div>


<div class="details">

</div>


    </div>
  </div>
  <!-- footer section -->
  <div class="footer-main-div">

    <div class="footer-social-icons">
      <h1>Spinasse</h1>
      <ul>
        <li> <a href="https://www.facebook.com/bhavjotkaur.pal"><i class="fa fa-facebook"></i> </a> </li>
        <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
        <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
        <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
      </ul>
    </div>
    <div class="footer-menu-one">
      <ul>
        <li><a href="/menu">Menu</a> </li>
        <li><a href="/gallery">Gallery</a> </li>
        <li><a href="/about">About</a> </li>
        <li><a href="/contact">Contact Us</a> </li>
      </ul>
    </div>
    <div class="address">
      <p>1531, 14th Avenue</p>
      <p>Seattle, WA 98122</p>
      <p>206.251.7673</p>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="copyright">
      <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
    </div>
  </div>
  </body>
</html>
