<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>British cuisine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cuisine.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body >
    <h1 style="text-align:center; color:#fff; font-family:'Pacifico'; font-size: 60px; padding:30px;">British Cuisine</h1>
  <div class="main">
    <div class="container">
      <div class="box">
      <div class="imgBox"><img src="images/british/B1.jpg"></div>
      <div class="details">
        <div class="content">
          <h2>Mini Pork Pies with Piccalilli</h2>
          <p>Hoel Levieil from London restaurant Frizzante shares this picnic-friendly pork pie recipe, which was voted our users’ favourite Jubilee recipe idea</p>
        </div>
      </div>
    </div>
      <div class="box">
        <div class="imgBox"><img src="images/british/B2.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Herby Toad in the Hole</h2>
            <p>This family favourite marries meaty sausages with robust herbs and traditional, comforting Yorkshire pudding</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/british/B3.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Cherry and Almond Tarts</h2>
            <p>These mini Bakewell bites combine pastry and cake are designed for making in batches and cooking from frozen</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/british/B4.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Classic Summer Pudding</h2>
            <p>Celebrate gorgeous seasonal strawberries, raspberries, blackberries and redcurrants with this set basin brioche pud</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/british/B5.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>No-fail Yorkies</h2>
            <p>Perfect for mopping up gravy, these soft but crisp Yorkshire puddings will rise every time thanks to a great batter</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/british/B6.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Scampi with Tartare Sauce</h2>
            <p>Crispy beer battered langoustine or prawn tails with a mayo-based dip of gherkins, capers and herbs</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/british/B7.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Scotch Eggs</h2>
            <p>A hidden layer of bacon makes this traditional Scotch egg recipe extra special</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/british/B8.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Lemon & Thyme Butter-basted Roast Chicken with gravy</h2>
            <p>Smoothing butter under the bird's skin helps to baste the chicken and herbs add a delicious flavour to the gravy</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/british/B9.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Maezipan Eccles Tarts</h2>
            <p>This fun spin on the traditional Lancashire fruit cakes uses leftover marzipan to make irresistible individual pies</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/british/B10.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>British Pork Cassoulet</h2>
            <p>No-nonsense hearty meal that needs little or no side dishes - a great family meal - by Gary Rhodes</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/british/B11.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Granny's Victoria Sponge</h2>
            <p>The classic Victoria sandwich is always a teatime winner, every bite brings a taste of nostalgia</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/british/B12.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Beef Wellington</h2>
            <p>Gordon Ramsay's version of the classic steak dish – a showstopping centrepiece on a special occasion...</p>
          </div>
        </div>
      </div>


<div class="details">

</div>


    </div>
    <!-- footer section -->
    <div class="footer-main-div">

      <div class="footer-social-icons">
        <h1>Spinasse</h1>
        <ul>
          <li> <a href="https://www.facebook.com/bhavjotkaur.pal"><i class="fa fa-facebook"></i> </a> </li>
          <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
          <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
          <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
        </ul>
      </div>
      <div class="footer-menu-one">
        <ul>
          <li><a href="/menu">Menu</a> </li>
          <li><a href="/gallery">Gallery</a> </li>
          <li><a href="/about">About</a> </li>
          <li><a href="/contact">Contact Us</a> </li>
        </ul>
      </div>
      <div class="address">
        <p>1531, 14th Avenue</p>
        <p>Seattle, WA 98122</p>
        <p>206.251.7673</p>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="copyright">
        <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
      </div>
    </div>
  </div>
  </body>
</html>
