<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chinese cuisine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cuisine.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body >
    <h1 style="text-align:center; color:#fff; font-family:'Pacifico'; font-size: 60px; padding:30px;">Chinese Cuisine</h1>
  <div class="main">
    <div class="container">
      <div class="box">
      <div class="imgBox"><img src="images/chinese/C1.jpg"></div>
      <div class="details">
        <div class="content">
          <h2>Sweet and Sour chicken</h2>
          <p>Try an authentic version of this classic Chinese takeaway dish, with natural sweetness and a warm chilli flavour to spice things up</p>
        </div>
      </div>
    </div>
      <div class="box">
        <div class="imgBox"><img src="images/chinese/C2.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Singapore Noodles with Prawns</h2>
            <p>This low-fat, low-calorie version of your favourite stir-fried takeaway will be ready in 20 minutes and is packed with prawns and plenty of flavour</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/chinese/C3.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Egg Fried Rice</h2>
            <p>Don't call the Chinese takeaway – make your own egg fried rice. Use leftover rice, or cook and dry it on a plate before using so it doesn't stick to the wok...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/chinese/C4.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Salt and Pepper Tofu</h2>
            <p>Use both types of peppercorns for our salt & pepper tofu if you can, for a tongue-tingling kick and a spicy warmth. The dish is great for a Chinese banquet</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/chinese/C5.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Spicy Sichuan-style Prawns</h2>
            <p>Stir-fry shellfish with a spicy tomato, ginger and chilli bean sauce for a classic Chinese seafood dish</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/chinese/C6.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Chow-Mein</h2>
            <p>A classic Chinese dish of stir-fried egg noodles with shredded chicken breast - experiment with different fish, meat, or vegetables</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/chinese/C7.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Crispy chilli Beef</h2>
            <p>Ditch the takeaway and whip up this Chinese flash-fried steak with a sweet gingery sauce and red peppers</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/chinese/C8.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Hoisin Wraps</h2>
            <p>Make this delicious, healthy take on a Peking duck wrap for a speedy snack or tasty lunch.</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/chinese/C9.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Toffee and Sesame Bananas</h2>
            <p>Traditional toffee bananas are deep-fried, but this is a lighter version, served with caramel sauce</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/chinese/C10.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Wrap your own Spring Rolls</h2>
            <p>A superhealthy recipe that's ideal for cooking with young children</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/chinese/C11.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Hot and Sour Broth with Prawns</h2>
            <p>This healthy starter takes just 15 minutes to make and is a cleansing way to kick off a Chinese meal</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/chinese/C12.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Beef and Ginger Stir Fry</h2>
            <p>Try this quick and easy stir-fry using lemongrass, ginger and chilli to pack a punch. Cook everything in just one pan and enjoy as a midweek meal</p>
          </div>
        </div>
      </div>


<div class="details">

</div>


    </div>
    <!-- footer section -->
    <div class="footer-main-div">

      <div class="footer-social-icons">
        <h1>Spinasse</h1>
        <ul>
          <li> <a href="https://www.facebook.com/bhavjotkaur.pal"><i class="fa fa-facebook"></i> </a> </li>
          <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
          <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
          <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
        </ul>
      </div>
      <div class="footer-menu-one">
        <ul>
          <li><a href="/menu">Menu</a> </li>
          <li><a href="/gallery">Gallery</a> </li>
          <li><a href="/about">About</a> </li>
          <li><a href="/contact">Contact Us</a> </li>
        </ul>
      </div>
      <div class="address">
        <p>1531, 14th Avenue</p>
        <p>Seattle, WA 98122</p>
        <p>206.251.7673</p>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="copyright">
        <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
      </div>
    </div>
  </div>
  </body>
</html>
