<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact us</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- navbar section -->
      <div class="wrap">
        <nav>
          <div class="logo"> Spinasse </div>
          <ul>
            <li> <a  href="/">Home</a> </li>
            <li> <a href="/menu">Menu</a> </li>
             <li> <a href="/gallery">Gallery</a> </li>
              <li> <a href="/About">About us</a> </li>
               <li> <a class="active" href="/contact">Contact</a> </li>
          </ul>


      </div>
     <!--/navbar section  -->
      <section id= "contact-section">

          <div class="container">
            <h2>Contact Us</h2>
            <p>Email us and be up to date with our latest news.</p>
            <div class="contact-form">
              <div>
                <i class="fa fa-map-marker"></i> <span class="form-info">1531, 14th Avenue, Seattle, WA 98122</span><br>
                <i class="fa fa-phone"></i> <span class="form-info">Phone No +92 0000345678909</span><br>
                <i class="fa fa-envelope"></i> <span class="form-info">bhavjotkaur12@gmail.com</span><br>
              </div>
              <div>
                <form>
                <input type="text" placeholder="First Name" required>
                <input type="text" placeholder="Last Name" required>
                <input type="email" placeholder="Your Name" required>
                <input type="text" placeholder="Subject of this message" required>
                <textarea name="message" placeholder="message" rows="5" required></textarea>
                <button class="submit">Send message</button>
                </form>

              </div>
            </div>
          </div>

      </section>
      <!-- footer section -->
      <div class="footer-main-div">

        <div class="footer-social-icons">
          <h1>Spinasse</h1>
          <ul>
            <li> <a href="https://www.facebook.com/bhavjotkaur.pal"><i class="fa fa-facebook"></i> </a> </li>
            <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
            <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
            <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
          </ul>
        </div>
        <div class="footer-menu-one">
          <ul>
            <li><a href="/menu">Menu</a> </li>
            <li><a href="/gallery">Gallery</a> </li>
            <li><a href="/about">About</a> </li>
            <li><a href="/contact">Contact Us</a> </li>
          </ul>
        </div>
        <div class="address">
          <p>1531, 14th Avenue</p>
          <p>Seattle, WA 98122</p>
          <p>206.251.7673</p>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="copyright">
          <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
        </div>
      </div>
  </body>
</html>
