<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>French cuisine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cuisine.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body >
    <h1 style="text-align:center; color:#fff; font-family:'Pacifico'; font-size: 60px; padding:30px;">French Cuisine</h1>
  <div class="main">
    <div class="container">
      <div class="box">
      <div class="imgBox"><img src="images/french/F1.jpg"></div>
      <div class="details">
        <div class="content">
          <h2>Blood Orange & Dark Chocolate Madeleines</h2>
          <p>Best enjoyed fresh from the oven, these delicate madeleines dipped in dark chocolate and dusted with blood orange powder make a delectable dessert</p>
        </div>
      </div>
    </div>
      <div class="box">
        <div class="imgBox"><img src="images/french/F2.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>French Toast</h2>
            <p>Eggy bread, pain perdu or French toast – this classic breakfast dish has plenty of names and just as many options for toppings. We like it with fresh berries...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/french/F3.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Macarons</h2>
            <p>Edd Kimber, champion of BBC's Great British Bake Off, shares his expert knowledge for baking picture-perfect macarons...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/french/F4.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Croissants</h2>
            <p>James Martin shares his recipe for this French patisserie classic. It involves some ambitious pastry work, but the end results are worth it</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/french/F6.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Coq au vin</h2>
            <p>We've made this classic French chicken casserole a little lighter than the traditional version, but it still has a rich, deep flavour...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/french/F7.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Ultimate French Omelette</h2>
            <p>The omelette is one of the most fundamental dishes in any cook's arsenal, and this recipe will teach you how to get it right every time...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/french/F8.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Tarte Tatin</h2>
            <p>Dark and sticky caramel, sweet apples and crisp pastry combine to make this heavenly French dessert, and with Raymond Blanc's recipe you can make it to perfection every time...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/french/F9.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Three Cheese souffels</h2>
            <p>With a double layer of goat's cheese and a coating of cream, these bistro-style bakes are authentically rich...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/french/F10.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Pork Cassoulet</h2>
            <p>Perfect for using up stray bits and pieces from the fridge, this pork and bean stew is rich, warming and cheap to prepare</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/french/F11.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Honey Roast Confit of Duck</h2>
            <p>This hearty French classic combines meltingly tender meat with crispy skin, and can be made well in advance - perfect for dinner parties</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/french/F5.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>baked Ratatouille & Goat's Cheese</h2>
            <p>Transform ratatouille into a bake with a layer of cheese sauce and you won't look back. It makes a great late summer dish and delivers three of your 5-a-day...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/french/F12.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Wgite chocolate creem Brulee</h2>
            <p>Serve this super-creamy chocolate dessert on its own, or as part of an 'assiete' of mini chocolate puddings</p>
          </div>
        </div>
      </div>


<div class="details">

</div>


    </div>
    <!-- footer section -->
    <div class="footer-main-div">

      <div class="footer-social-icons">
        <h1>Spinasse</h1>
        <ul>
          <li> <a href="https://www.facebook.com/bhavjotkaur.pal"><i class="fa fa-facebook"></i> </a> </li>
          <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
          <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
          <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
        </ul>
      </div>
      <div class="footer-menu-one">
        <ul>
          <li><a href="/menu">Menu</a> </li>
          <li><a href="/gallery">Gallery</a> </li>
          <li><a href="/about">About</a> </li>
          <li><a href="/contact">Contact Us</a> </li>
        </ul>
      </div>
      <div class="address">
        <p>1531, 14th Avenue</p>
        <p>Seattle, WA 98122</p>
        <p>206.251.7673</p>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="copyright">
        <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
      </div>
    </div>
  </div>
  </body>
</html>
