<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>gallery</title>
    <link href="css/lightbox.min.css" rel="stylesheet" >
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/gallery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- navbar section -->
      <div class="wrap">
        <nav>
          <div class="logo"> Spinasse </div>
          <ul>
            <li> <a  href="/">Home</a> </li>
            <li> <a href="/menu">Menu</a> </li>
             <li> <a class="active" href="/gallery">Gallery</a> </li>
              <li> <a href="/About">About us</a> </li>
               <li> <a href="/contact">Contact</a> </li>
          </ul>


      </div>
     <!--/navbar section  -->
    <h1  class = "heading"style="text-align:center; color:#fff; font-family:'Pacifico'; font-size: 60px; padding:30px;">Our Gallery</h1>
    <div class="gallery">
      <a href="images/gallery/B1.jpg" data-lightbox="myGallery"><img src="images/gallery/G1.jpg"></a>
      <a href="images/gallery/B2.jpg" data-lightbox="myGallery"><img src="images/gallery/G2.jpg"></a>
      <a href="images/gallery/B3.jpg" data-lightbox="myGallery"><img src="images/gallery/G3.jpg"></a>
      <a href="images/gallery/B4.jpg" data-lightbox="myGallery"><img src="images/gallery/G4.jpg"></a>
      <a href="images/gallery/B5.jpg" data-lightbox="myGallery"><img src="images/gallery/G5.jpg"></a>
      <a href="images/gallery/B6.jpg" data-lightbox="myGallery"><img src="images/gallery/G6.jpg"></a>
      <a href="images/gallery/B7.jpg" data-lightbox="myGallery"><img src="images/gallery/G7.jpg"></a>
      <a href="images/gallery/B8.jpg" data-lightbox="myGallery"><img src="images/gallery/G8.jpg"></a>
      <a href="images/gallery/B9.jpg" data-lightbox="myGallery"><img src="images/gallery/G9.jpg"></a>
      <a href="images/gallery/B10.jpg" data-lightbox="myGallery"><img src="images/gallery/G10.jpg"></a>
      <a href="images/gallery/B11.jpg" data-lightbox="myGallery"><img src="images/gallery/G11.jpg"></a>
      <a href="images/gallery/B12.jpg" data-lightbox="myGallery"><img src="images/gallery/G12.jpg"></a>
      <a href="images/gallery/B13.jpg" data-lightbox="myGallery"><img src="images/gallery/G13.jpg"></a>
      <a href="images/gallery/B14.jpg" data-lightbox="myGallery"><img src="images/gallery/G14.jpg"></a>
      <a href="images/gallery/B15.jpg" data-lightbox="myGallery"><img src="images/gallery/G15.jpg"></a>
      <a href="images/gallery/B16.jpg" data-lightbox="myGallery"><img src="images/gallery/G16.jpg"></a>
      <a href="images/gallery/B17.jpg" data-lightbox="myGallery"><img src="images/gallery/G17.jpg"></a>
      <a href="images/gallery/B18.jpg" data-lightbox="myGallery"><img src="images/gallery/G18.jpg"></a>
      <a href="images/gallery/B19.jpg" data-lightbox="myGallery"><img src="images/gallery/G19.jpg"></a>
      <a href="images/gallery/B20.jpg" data-lightbox="myGallery"><img src="images/gallery/G20.jpg"></a>
      <a href="images/gallery/B21.jpg" data-lightbox="myGallery"><img src="images/gallery/G21.jpg"></a>

    </div>
    <!-- footer section -->
    <div class="footer-main-div">

      <div class="footer-social-icons">
        <h1>Spinasse</h1>
        <ul>
          <li> <a href="https://www.facebook.com/bhavjotkaur.pal"><i class="fa fa-facebook"></i> </a> </li>
          <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
          <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
          <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
        </ul>
      </div>
      <div class="footer-menu-one">
        <ul>
          <li><a href="/menu">Menu</a> </li>
          <li><a href="/gallery">Gallery</a> </li>
          <li><a href="/about">About</a> </li>
          <li><a href="/contact">Contact Us</a> </li>
        </ul>
      </div>
      <div class="address">
        <p>1531, 14th Avenue</p>
        <p>Seattle, WA 98122</p>
        <p>206.251.7673</p>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="copyright">
        <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
      </div>
    </div>
  <script src="javascript/lightbox-plus-jquery.min.js"></script>
  </body>
</html>
