<!DOCTYPE html>
 <html lang="en" dir="ltr">
   <head>
     <meta charset="utf-8">
     <title>Spinasse</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
   <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
      <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <script
    src="http://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
    crossorigin="anonymous"></script>


</head>

<body>
  <!-- navbar section -->
    <div class="wrap">
      <nav>
        <div style="font-size:30px; font-family:'raleway';" class="logo"> Spinasse </div>
        <ul>
          <li> <a class="active" href="/">Home</a> </li>
          <li> <a href="/menu">Menu</a> </li>
           <li> <a href="/gallery">Gallery</a> </li>
            <li> <a href="/About">About us</a> </li>
             <li> <a href="/contact">Contact</a> </li>
        </ul>


    </div>
   <!--/navbar section  -->
  <div class="main">

    <!-- first section -->
    <div class="hs-wrapper">
      <img src="images/image-12.jpg">
      <img src="images/image-2.jpg">
      <img src="images/image-5.jpg">
      <img src="images/image-6.jpg">
      <img src="images/image-10.jpg">
      <img src="images/image-8.jpg">
      <img src="images/image-1.png">
      <img src="images/image-10.jpg">
      <div class="hs-overlay">
        <span>Welcome to Spinasse </span>
      </div>
    </div>
    <!-- /first section -->


    <!-- cuisines section -->
    <div class="cui">


    <h1 style="text-align:center; color:#fff; font-family:'Raleway'; font-size: 60px;">Our Cuisines</h1>
    <div class="cuisines">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a href="/american"><img src="images/american.jpg"></a></div>
          <div class="swiper-slide"><a href="/British"> <img src="images/British.jpg"></a> </div>
          <div class="swiper-slide"><a href="/chinese"> <img src="images/chinese.jpg"></a></div>
          <div class="swiper-slide"><a href="/french"><img src="images/french.jpg"> </a> </div>
          <div class="swiper-slide"><a href="/indian"> <img src="images/indian.jpg"></a></div>
          <div class="swiper-slide"><a href="/italian"> <img src="images/italian.jpg"></a></div>
          <div class="swiper-slide"><a href="/mexican"> <img src="images/mexican.jpg"></a> </div>
          <div class="swiper-slide"><a href="/thai"> <img src="images/thai.jpeg"> </a> </div>
          <div class="swiper-slide"><a href="/vietnamese"> <img src="images/vietnamise.jpg"> </a></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      <script type="text/javascript">
        var swiper = new Swiper('.swiper-container', {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          coverflowEffect: {
            rotate: 40,
            stretch: 0,
            depth: 10,
            modifier: 1,
            slideShadows: true,
          },
          pagination: {
            el: '.swiper-pagination',
          },
          autoplay: {
            delay: 800,
            disableOnInteraction: false,
          },
        });
      </script>
    </div>
    </div>
 <!-- /cuisine section -->

<!-- Reviews section  -->
<div class="rev">


  <h1 style="text-align:center; color:#fff; font-family:'Raleway'; font-size: 60px; padding:30px;">Customer Reviews</h1>
  <div class="reviews">

    <div class="container">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="images/reviews/R1.png">
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p><strong>Official Restaurant of the Red Sox!</strong></p>
            <p>Excellent eating experience.. from walking in the door and being greeted by employee, seated and drink order taken, was maybe 5 minutes. Meal was served hot and excellent taste. Server was very friendly and helpful.</p>
            <p><strong>Date of visit</strong>: March 2016</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="images/reviews/R2.png">
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p><strong>Good food, friendly service</strong> </p>
            <p>Stopped here for a snack on our way back to the Manchester airport. Had the boneless buffalo wings and potato skins appetizer and some French onion soup. Appetizer was very good - wings spicy but not too spicy and the potato skins were excellent. Prices very reasonable.</p>
            <p> <strong>Date of visit</strong>: April 2016</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="images/reviews/R3.png">
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p> <strong>Great as usual</strong> </p>
            <p>Ninety Nine Restaurants are well known in the New England area. Reasonably priced good food and drink. Lots of bar and dining room seating, with plenty of flat screen TV's to give yo something to do after ordering.</p>
            <p> <strong>Date of visit</strong>: January 2016 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="more">
      <a style="text-align:center; color:#fff; position:relative; left:600px; top:30px;" href="/reviews">View More</a>
  </div>


  </div>
  <!-- /reviews section -->
<!-- location section -->
  <div class="location">
    <h1 style="font-size:60px; color:#fff; text-align:center; position:relative; top:30px; font-family:'Raleway';">show up here</h1>
  <div class="mapContainer">
    <div style="text-align: center; margin: 20px auto;">
      <div id="myMap" style="position:relative; width:1280px; height:400px; border: 2px solid black; margin:40px; padding:20px;"></div>
      <div class="customNavBar">
        <select name="map_type" id="map_type" onchange="set_mapTypeId();">
          <option value="road">Road</option>
          <option value="aerial">Aerial</option>
          <option value="streetside">Street Side</option>
          <option value="birdseye">Birdseye</option>
          <option value="canvasLight">Canvas Light</option>
          <option value="canvasDark">Canvas Dark</option>
          <option value="grayscale">Gray scale</option>
        </select>
      </div>
    </div>
  </div>

  <script type='text/javascript'>
    var map, contextMenu, loc;

    function GetMap() {
      var northCarolinaBounds = Microsoft.Maps.LocationRect.fromEdges(47.613254, -122.351819, 47.612734, -122.303754);
      map = new Microsoft.Maps.Map('#myMap', {
        showDashboard: false, //Hide the default navigation bar.
        maxBounds: northCarolinaBounds,
        bounds: northCarolinaBounds
      });
    }

    function GetMapStreetView() {
      loc = new Microsoft.Maps.Location(39.47618, -121.53738);
      map = new Microsoft.Maps.Map('#myMap', {
        showDashboard: false,
        center: loc,
        mapTypeId: Microsoft.Maps.MapTypeId.streetside,
        streetsideOptions: {
          showExitButton: false,
          showCurrentAddress: false
        },
      });
    }

    function GetMapBirdseyeView() {
      map = new Microsoft.Maps.Map('#myMap', {
        showDashboard: false,
        center: new Microsoft.Maps.Location(37.239027, -121.966237),
        mapTypeId: Microsoft.Maps.MapTypeId.birdseye,
      });
    }

    function set_mapTypeId() {
      GetMap();
      var map_type_id = document.getElementById("map_type").value;
      if (map_type_id == "road") {
        map.setView({
          mapTypeId: Microsoft.Maps.MapTypeId.road
        });
      } else if (map_type_id == "aerial") {
        map.setView({
          mapTypeId: Microsoft.Maps.MapTypeId.aerial
        });
      } else if (map_type_id == "streetside") {
        GetMapStreetView();
      } else if (map_type_id == "birdseye") {
        GetMapBirdseyeView();
        setTimeout(function() {
          document.getElementsByClassName("birdseyeV2InfoExitControl")[0].innerHTML = "";
        }, 2000);
      } else if (map_type_id == "canvasLight") {
        map.setView({
          mapTypeId: Microsoft.Maps.MapTypeId.canvasLight
        });
      } else if (map_type_id == "canvasDark") {
        map.setView({
          mapTypeId: Microsoft.Maps.MapTypeId.canvasDark
        });
      } else if (map_type_id == "grayscale") {
        map.setView({
          mapTypeId: Microsoft.Maps.MapTypeId.grayscale
        });
      }
    }
  </script>
  <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Ani5-JowOCgBXAxlhTC0Y6yQSthfulsyMGT-O3EHSJAq1b8uyBMCDnkHvI-Ee5iU
' async defer></script>
</div>

<!-- /location section -->
<!-- footer section -->
<div class="footer-main-div">

  <div class="footer-social-icons">
    <h1>Spinasse</h1>
    <ul>
      <li> <a href="https://www.facebook.com/bhavjotkaur.pal"><i class="fa fa-facebook"></i> </a> </li>
      <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
      <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
      <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
    </ul>
  </div>
  <div class="footer-menu-one">
    <ul>
      <li><a href="/menu">Menu</a> </li>
      <li><a href="/gallery">Gallery</a> </li>
      <li><a href="/about">About</a> </li>
      <li><a href="/contact">Contact Us</a> </li>
    </ul>
  </div>
  <div class="address">
    <p>1531, 14th Avenue <br>
    <p>Seattle, WA 98122 <br>
    <p>206.251.7673</p>
  </div>
</div>

<div class="footer-bottom">
  <div class="copyright">
    <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
  </div>
</div>
</div>


</body>

</html>
