<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>menu</title>
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- navbar section -->
      <div class="wrap">
        <nav>
          <div class="logo"> Spinasse </div>
          <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a  class="active" href="/menu">Menu</a> </li>
             <li> <a href="/gallery">Gallery</a> </li>
              <li> <a href="/About">About us</a> </li>
               <li> <a href="/contact">Contact</a> </li>
          </ul>


      </div>
     <!--/navbar section  -->
    <div class="main">


   <h1>Menu</h1>

    <div class="container1">
      <div class="cover1">
        <figure class="front1"><img src="images/menu/M1.jpg"></figure>
      </div>

    </div>

    <div class="container2">
      <div class="cover2">
        <figure class="front2"><img src="images/menu/M2.jfif"></figure>
      </div>

    </div>

    <div class="container3">
      <div class="cover3">
        <figure class="front3"><img src="images/menu/M3.jpg"></figure>
      </div>

    </div>
    <div class="container4">
      <div class="cover4">
        <figure class="front4"><img src="images/menu/M4.jpg"></figure>
      </div>

    </div>
    <div class="container5">
      <div class="cover5">
        <figure class="front5"><img src="images/menu/M5.jfif"></figure>
      </div>

    </div>
    <div class="container6">
      <div class="cover6">
        <figure class="front6"><img src="images/menu/M6.jpg"></figure>
      </div>

    </div>
    <!-- footer section -->



    <div class="footer-main-div">

      <div class="footer-social-icons">
        <h1>Spinasse</h1>
        <ul>
          <li> <a href="https://www.facebook.com/bhavjotkaur.pal"> <i class="fa fa-facebook"></i> </a> </li>
          <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
          <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
          <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
        </ul>
      </div>
      <div class="footer-menu-one">
        <ul>
          <li><a href="/menu">Menu</a> </li>
          <li><a href="/gallery">Gallery</a> </li>
          <li><a href="/about">About</a> </li>
          <li><a href="/contact">Contact Us</a> </li>
        </ul>
      </div>
      <div class="address">
        <p>1531, 14th Avenue</p>
        <p>Seattle, WA 98122</p>
        <p>206.251.7673</p>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="copyright">
        <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
      </div>
    </div>

      </div>
  </body>
</html>
