<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mexican cuisine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cuisine.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body >
    <h1 style="text-align:center; color:#fff; font-family:'Pacifico'; font-size: 60px; padding:30px;">Mexican Cuisine</h1>
  <div class="main">
    <div class="container">
      <div class="box">
      <div class="imgBox"><img src="images/mexican/M1.jpg"></div>
      <div class="details">
        <div class="content">
          <h2>Huevos Rancheros</h2>
          <p>Enjoy this Mexican-inspired vegetarian brunch of egg, tomato, avocado, kidney beans and cheese, on top of tortilla. It's spicy, filling and full of flavour...</p>
        </div>
      </div>
    </div>
      <div class="box">
        <div class="imgBox"><img src="images/mexican/M2.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Chicken and Bean Anchiladas</h2>
            <p>A family dinner that delivers four of your 5-a-day - tender chicken, red pepper and black beans, wrapped in tortilla, baked in the oven with passata and cheese</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/mexican/M3.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Mexican Fiesta Rice</h2>
            <p>Make this tasty Mexican rice to serve a crowd. Our recipe is vegan but if everyone you're cooking for eats meat, some chopped bacon in with the onions works well...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/mexican/M4.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Chicken Fajitas</h2>
            <p>Need a simple, vibrant midweek meal the family will love? Put together these easy chicken fajitas and people can serve up their own DIY masterpieces</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/mexican/M5.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Tres Leches Cake</h2>
            <p>Bake a classic Mexican tres leches cake, sometimes called milk cake, for an afternoon treat or coffee morning – it gets its name from the three types of milk used...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/mexican/M6.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Chunky Guacamole</h2>
            <p>This is the best version of this classic dip. The ingredients are kept to a minimum, so it's as fresh-tasting as possible...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/mexican/M7.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Mexican style-stuffed peppers</h2>
            <p>Stuff peppers with rice and black beans, then top with chilli cheese and fresh guacamole for an easy family meal. If the kids don't like spice, use a mild cheese instead...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/mexican/M8.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Shredded Beef Chilli Taco Bowls</h2>
            <p>Serve these crunchy taco bowls with a choice of toppings for a flavour-packed crowd-pleaser. You won't need plates – just lots of napkins...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/mexican/M9.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Enchilada Pie</h2>
            <p>Give your midweek meal a Mexican twist with our easy enchilada pie. Packed with nutritious veggies, it provides a whopping four of your 5-a-day</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/mexican/M10.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Smoky Veggie Nachod</h2>
            <p>Serve a sharing platter of vegetarian nachos at your next informal drinks party. Unlike most party food, these nachos are healthy, boasting plenty of folate, fibre and vitamin c</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/mexican/M11.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Mexican Eggy Bread</h2>
            <p>Bring together two great brunch recipes – eggy bread and avocado on toast – then add a Mexican twist. A hit of chilli takes this to another level...</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/mexican/M12.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Vegan Bean Chilli Fries </h2>
            <p>Treat family and friends to Mexican-inspired loaded fries. This plant-based dish is great for entertaining, whether for a movie night or party</p>
          </div>
        </div>
      </div>


<div class="details">

</div>


    </div>
    <!-- footer section -->
    <div class="footer-main-div">

      <div class="footer-social-icons">
        <h1>Spinasse</h1>
        <ul>
          <li> <a href="https://www.facebook.com/bhavjotkaur.pal"><i class="fa fa-facebook"></i> </a> </li>
          <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
          <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
          <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
        </ul>
      </div>
      <div class="footer-menu-one">
        <ul>
          <li><a href="/menu">Menu</a> </li>
          <li><a href="/gallery">Gallery</a> </li>
          <li><a href="/about">About</a> </li>
          <li><a href="/contact">Contact Us</a> </li>
        </ul>
      </div>
      <div class="address">
        <p>1531, 14th Avenue</p>
        <p>Seattle, WA 98122</p>
        <p>206.251.7673</p>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="copyright">
        <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
      </div>
    </div>
  </div>
  </body>
</html>
