<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reviews</title>
    <link rel="stylesheet" href="css/reviews.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  </head>
  <body>
    <h1 style="text-align:center; color:#fff; font-family:'Raleway'; font-size: 60px; padding:30px;">Customer Reviews</h1>
    <div class="reviews">

      <div class="container">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="images/reviews/R1.png">
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p><strong>Official Restaurant of the Red Sox!</strong></p>
              <p>Excellent eating experience.. from walking in the door and being greeted by employee, seated and drink order taken, was maybe 5 minutes. Meal was served hot and excellent taste. Server was very friendly and helpful.</p>
              <p><strong>Date of visit</strong>: March 2016</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="images/reviews/R2.png">
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p><strong>Good food, friendly service</strong> </p>
              <p>Stopped here for a snack on our way back to the Manchester airport. Had the boneless buffalo wings and potato skins appetizer and some French onion soup. Appetizer was very good - wings spicy but not too spicy and the potato skins were excellent. Prices very reasonable.</p>
              <p> <strong>Date of visit</strong>: April 2016</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="images/reviews/R3.png">
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p> <strong>Great as usual</strong> </p>
              <p>Ninety Nine Restaurants are well known in the New England area. Reasonably priced good food and drink. Lots of bar and dining room seating, with plenty of flat screen TV's to give yo something to do after ordering.</p>
              <p> <strong>Date of visit</strong>: January 2016 </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="images/reviews/R4.png">
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p> <strong>Good food</strong> </p>
              <p>Stopped in for dinner. Food was very good and reasonably priced. Ordered a steak dinner. It was tender and well seasoned.</p>
              <p> <strong>Date of visit</strong>:January 2016 </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="images/reviews/R5.png">
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p> <strong>Once more once</strong> </p>
              <p>Another visit to the 99 is not disappointing. I have been here many times and always had decent food and service. Prices are very reasonable with many meals at $9.99. Full service bar has all the usual drinks. All in all, a decent Restaurant.</p>
              <p> <strong>Date of visit</strong>:23 August 2016 </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="images/reviews/R6.png">
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p> <strong>Lunch visit</strong> </p>
              <p>Fast friendly staff, good food, reasonably priced, great menu selections. St Patrick's day menu specials a nice touch for the holiday weekend.</p>
              <p> <strong>Date of visit</strong>: 17 March 2018 </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="images/reviews/R7.png">
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p> <strong>Great spot !</strong> </p>
              <p>We always sit in the bar area at the 99. It's a very friendly place and you meet all types of nice folks. The food is good and the service is always excellent.</p>
              <p> <strong>Date of visit</strong>:18 March 2018 </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="images/reviews/R8.png">
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p> <strong>Great dinner</strong> </p>
              <p>I was excited to be sat without waiting. The waitress was there pretty quick. The food was good, waitress helpful and I will be back</p>
              <p> <strong>Date of visit</strong>:9 November 2016 </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="images/reviews/R9.png">
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p> <strong>Great food at a great price</strong> </p>
              <p>Good food, friendly waitstaff, and less expensive yet tasty Margaritas. You always feel like you've come home when you come here to eat.</p>
              <p> <strong>Date of visit</strong>:28 June 2016 </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="images/reviews/R10.png">
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p> <strong>Surprisingly good!</strong> </p>
              <p>We braved the Friday traffic going north. It was 9pm when we finally checked in our hotel. Kids were hungry. Everything seemed to be closed early in this tiny charming little town.</p>
              <p> <strong>Date of visit</strong>:1 August 2016 </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="images/reviews/R11.png">
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p> <strong>Great food and atmosphere!</strong> </p>
              <p>Our family stopped by here after the renovations and its so nice! They took down a wall and added more seats which is excellent!</p>
              <p> <strong>Date of visit</strong>: 6 August 2016</p>
            </div>
            </div>
            </div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="images/reviews/R12.png">
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p> <strong>Always room at the bar!</strong> </p>
                  <p>Went to 99 and there a wait, but we were able to sit at the bar right away. We both had the steak tips and tenders. </p>
                  <p> <strong>Date of visit</strong>:12 November 2015 </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="images/reviews/R13.png">
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p> <strong>As usual alway consistent</strong> </p>
                  <p>Ninety Nine restaurants are usually our go to place when we are in an area we don't know. They are consistent and always give you a good value for your dollar. </p>
                  <p> <strong>Date of visit</strong>:3 January 2016 </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="images/reviews/R14.png">
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p> <strong>Easy dinning</strong> </p>
                  <p>Very busy restaurant but great service. Great $9.99 meals.Take out option is great deal for quick dinners too.</p>
                  <p> <strong>Date of visit</strong>:6 January 2016 </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="images/reviews/R15.png">
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p> <strong>Fun and yummy!</strong> </p>
                  <p>This restaurant was very clean, the staff was beyond amazing and the food was delicious! You could not ask for a better place to eat. </p>
                  <p> <strong>Date of visit</strong>: 16 July 2015 </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="images/reviews/R16.png">
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p> <strong>GREAT place</strong> </p>
                  <p>Nice staff, great promos, when you sign up for the email club, when the Sox win kids eat for free, and they have a great kid's menu, not like most other places.</p>
                  <p> <strong>Date of visit</strong>: 18 August 2015 </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="images/reviews/R17.png">
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p> <strong>One of the Better Chain Restaurants</strong> </p>
                  <p>They frequently change their menu to keep it fresh and up to the season specialties. They have great baked stuffed clams as an appetizer.</p>
                  <p> <strong>Date of visit</strong>:30 July 2014 </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <img src="images/reviews/R18.png">
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p> <strong>Good Value</strong> </p>
                  <p>I went here for lunch, and unfortunately the frozen lemonade was not available but I did not let this hinder my experience. The food was good and there was plenty for the money paid.</p>
                  <p> <strong>Date of visit</strong>: 4 August 2014</p>
                </div>
              </div>
            </div>

            </div>
            <!-- footer section -->
            <div class="footer-main-div">

              <div class="footer-social-icons">
                <h1>Spinasse</h1>
                <ul>
                  <li> <a href="https://www.facebook.com/bhavjotkaur.pal"><i class="fa fa-facebook"></i> </a> </li>
                  <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
                  <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
                  <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
                </ul>
              </div>
              <div class="footer-menu-one">
                <ul>
                  <li><a href="/menu">Menu</a> </li>
                  <li><a href="/gallery">Gallery</a> </li>
                  <li><a href="/about">About</a> </li>
                  <li><a href="/contact">Contact Us</a> </li>
                </ul>
              </div>
              <div class="address">
                <p>1531, 14th Avenue</p>
                <p>Seattle, WA 98122</p>
                <p>206.251.7673</p>
              </div>
            </div>

            <div class="footer-bottom">
              <div class="copyright">
                <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
              </div>
            </div>
            </div>
  </body>
</html>
