<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thai cuisine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cuisine.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  </head>
  <body >
    <h1 style="text-align:center; color:#fff; font-family:'Pacifico'; font-size: 60px; padding:30px;">Thai Cuisine</h1>
  <div class="main">
    <div class="container">
      <div class="box">
      <div class="imgBox"><img src="images/thai/T1.jpg"></div>
      <div class="details">
        <div class="content">
          <h2>Green Chicken Curry</h2>
          <p>Making your own fragrant curry paste takes some special Asian ingredients and a little time but you'll taste the difference...</p>
        </div>
      </div>
    </div>
      <div class="box">
        <div class="imgBox"><img src="images/thai/T2.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Chicken and Sweet Potato Soup</h2>
            <p>A smooth and and spicy chicken soup with a vibrant colour that's packed full of Asian aromatics</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/thai/T3.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Pad Thai</h2>
            <p>Take the classic pad Thai to new levels, adding king prawns and tofu, pickled turnip and tamarind paste - a dish for two that's packed with flavour</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/thai/T4.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Pork and Peanut Curry</h2>
            <p>Use fragrant hot red curry paste as the base to this coconut curry dish with baby sweetcorn, coriander and soy</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/thai/T5.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Beef Stir Fry</h2>
            <p>A no fuss shopping list and super-quick to prepare, the perfect after work meal</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/thai/T6.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Steemed Fish</h2>
            <p>Serve with Thai jasmine rice for a flavour-packed low-fat meal</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/thai/T7.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Minced Chicken Salad</h2>
            <p>Known as larb gai in Thailand, the hot spiciness in this chicken salad recipe works really well with the crunchy veg, creating a perfect balance of flavour and heat</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/thai/T8.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Fragrant Thai Prawns</h2>
            <p>Add subtle Thai flavours to seafood in Curtis Stone's prawn recipe</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/thai/T9.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Thai Spinach Bites</h2>
            <p>These little Thai nibbles are ready in just 10 minutes</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/thai/T10.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Coconut and Veg Broth</h2>
            <p>Get a taste of Thai with this quick and easy noodle soup cooked all in one pan</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/thai/T11.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Phat Thai</h2>
            <p>Try an authentic version of this classic Thai snack food. You can swap the prawns for thin strips of chicken if you like</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/thai/T12.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Pumpkin Soup</h2>
            <p>Make the most of autumn's harvest with this warming, seasonal soup</p>
          </div>
        </div>
      </div>


<div class="details">

</div>


    </div>
    <!-- footer section -->
    <div class="footer-main-div">

      <div class="footer-social-icons">
        <h1>Spinasse</h1>
        <ul>
          <li> <a href="https://www.facebook.com/bhavjotkaur.pal"><i class="fa fa-facebook"></i> </a> </li>
          <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
          <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
          <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
        </ul>
      </div>
      <div class="footer-menu-one">
        <ul>
          <li><a href="/menu">Menu</a> </li>
          <li><a href="/gallery">Gallery</a> </li>
          <li><a href="/about">About</a> </li>
          <li><a href="/contact">Contact Us</a> </li>
        </ul>
      </div>
      <div class="address">
        <p>1531, 14th Avenue</p>
        <p>Seattle, WA 98122</p>
        <p>206.251.7673</p>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="copyright">
        <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
      </div>
    </div>
  </div>
  </body>
</html>
