<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vietnamese cuisine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cuisine.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body >
    <h1 style="text-align:center; color:#fff;; font-family:'Pacifico'; font-size: 60px; padding:30px;">Vietnemese Cuisine</h1>
  <div class="main">
    <div class="container">
      <div class="box">
      <div class="imgBox"><img src="images/Vietnamese/V1.jpg"></div>
      <div class="details">
        <div class="content">
          <h2>Hot and Sour Fish Soup</h2>
          <p>James Martin's Asian soup combines a fragrant broth with fish, seafood and light noodles, topped with strong herbs.</p>
        </div>
      </div>
    </div>
      <div class="box">
        <div class="imgBox"><img src="images/Vietnamese/V2.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Chicken Baguettes</h2>
            <p>Stuff your sandwich with chicken, carrot, cucumber, spring onion and sweet chilli dressing for Asian zing</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/Vietnamese/V3.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Chicken Salad</h2>
            <p>A no-cook main course salad with all the light, fragrant flavours of Southeast Asia such as peanut, chilli, mint and soy</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/Vietnamese/V4.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Salt and Pepper Squid</h2>
            <p>Crisp, spicy coating and hot, tender squid make an irresistible combination</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/Vietnamese/V5.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Chinese Spiced Duck Salad</h2>
            <p>Who says a duck supper has to be expensive? Make your meat go further with this flavour-packed salad</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/Vietnamese/V6.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Veggie Hotpot</h2>
            <p>A warming supper dish that's aromatic without being spicy, so the kids can enjoy it too</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/Vietnamese/V7.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Caramel Trout</h2>
            <p>A caramel base balances out the hot and salty ingredients of this Asian-inspired one-pan fish dish for two</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/Vietnamese/V8.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Tofu, Greens and Cashew Stir-fry</h2>
            <p>Healthy, light and quick - just what you need in an after-work meal</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/Vietnamese/V9.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Prawn Spring Roll Wraps</h2>
            <p>These healthy bites make a great light lunch or snack with a little bowl of sweet chilli sauce</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/Vietnamese/V10.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>BBQ Pork Buns</h2>
            <p>Tastier than a take away and great for nibbling and sharing. These dim sum will impress your guests.</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/Vietnamese/V11.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Crunchie Prawn Noodle4 Salad</h2>
            <p>This Vietnamese-style dressing is best made just before serving to preserve the vibrant colour of the mint.</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="imgBox"><img src="images/Vietnamese/V12.jpg"></div>
        <div class="details">
          <div class="content">
            <h2>Asian Chicken Salad</h2>
            <p>This easy-to-prepare salad is filled with zingy flavours - the simplified version is great for kids' lunchboxes too</p>
          </div>
        </div>
      </div>


<div class="details">

</div>


    </div>
    <!-- footer section -->
    <div class="footer-main-div">

      <div class="footer-social-icons">
        <h1>Spinasse</h1>
        <ul>
          <li> <a href="https://www.facebook.com/bhavjotkaur.pal"><i class="fa fa-facebook"></i> </a> </li>
          <li> <a href="https://www.instagram.com/bhavjot_kaur_12/"><i class="fa fa-instagram"></i> </a> </li>
          <li> <a href="https://twitter.com/bhavjotkaur12"><i class="fa fa-twitter"></i> </a> </li>
          <li> <a href="https://www.linkedin.com/in/bhavjot-kaur-pal-987b1519b/"><i class="fa fa-linkedin"></i> </a> </li>
        </ul>
      </div>
      <div class="footer-menu-one">
        <ul>
          <li><a href="/menu">Menu</a> </li>
          <li><a href="/gallery">Gallery</a> </li>
          <li><a href="/about">About</a> </li>
          <li><a href="/contact">Contact Us</a> </li>
        </ul>
      </div>
      <div class="address">
        <p>1531, 14th Avenue</p>
        <p>Seattle, WA 98122</p>
        <p>206.251.7673</p>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="copyright">
        <p><i class="fa fa-copyright"></i> 2020 Spinasse</p>
      </div>
    </div>
  </div>
  </body>
</html>
